*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  width: 100%;
  max-width: 1440px;
}

body {
  height: 1080px;
  background: var(--charcoal-grey);
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 960px) {
  body {
    height: 842px;
  }
}

@media screen and (max-width: 426px) {
  body {
    display: block;
  }
}
